# Build folder.
/build/

# Test output folder.
/tests/data/

# Media folders.
/media
/media_internal

# Packman folders.
/external/packman/
/tools/.packman/

#Kitchen and Bistro model
/Models/Bistro_ReSTIRFG/
/Models/Kitchen_ReSTIRFG/

# IDE folders.
/.vs/
/.vscode/

# User files.
/CMakeUserPresets.json

# File types.
*.user
*.suo
*.pyc
*.VC.db
*.VC.opendb
*.pyc
*slang-dump-*
*.mp4
*.tlog
*.bak
